/* style.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  color: #1c1c1c;
  padding: 20px 100px;
  /* width: 1400px; */
  /* display: flex; */
  flex-direction: column;
  background-color: rgb(247, 250, 252);
  /* justify-content: space-between; */
}
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: white;
  align-items: center;
}
.logo img {
  width: 170px;
  height: 50px;
}
.inputFild {
  display: flex;
  width: 705px;
  height: 57px;
  border: 2px solid blue;
}
.inputFild input {
  width: 461px;
  /* height: 40px; */
  padding-left: 10px;
}
.inputFild select {
  outline: none;
  border: 1px solid blue;
  width: 205px;
  /* height: 40px; */
}
.inputFild button {
  width: 140px;
  /* height: 40px; */
  background-color: blue;
  color: white;
}
.header-icons {
  display: flex;
  width: 258px;
  justify-content: space-between;
  height: 41px;
}
.header-icons img {
  width: 47px;
  height: 40px;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  background-color: white;
}
.ul {
  display: flex;
  width: 690px;
  justify-content: space-between;
}
.ul li a {
  text-decoration: none;
  font-weight: 500px;
  color: black;
}
.ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.language {
  display: flex;
  gap: 40px;
}
.language select {
  border: none;
  width: 124px;
  height: 24px;
  font-weight: 500px;
  text-align: center;
  margin: auto;
  gap: 0;
}
.container {
  display: flex;
  gap: 30px;
  padding: 20px 50px;
  /* max-width: 1300px; */
  margin: auto;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background: white;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0d6efd;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Cart Items */
.cart-container {
  flex: 3;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.item-details {
  display: flex;
  gap: 15px;
}
.item-img {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  border-radius: 6px;
}
.item-info h4 {
  margin: 0 0 5px 0;
  font-size: 1rem;
}
.item-info p {
  font-size: 0.85rem;
  color: #8b96a5;
  margin: 2px 0;
}
.btn-remove {
  color: #fa3434;
  border: 1px solid #e0e0e0;
  background: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.payment-icons{
  display: flex;
  justify-content:space-around;
  margin-top: 10px;
}
.security{
  display: flex;
  gap: 40px;
  margin-left: 50px;
  padding: 30px 10px;
}
/* Sidebar */
.summary-sidebar {
  flex: 1;
}
.totals-card,
.coupon-card {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #505050;
}
.total {
  font-weight: bold;
  font-size: 1.2rem;
  color: #1c1c1c;
}
.checkout-btn {
  width: 100%;
  background: #00b517;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.green {
  color: #00b517;
}
.red {
  color: #fa3434;
}

/* Shop Section */
.saved-section {
  padding: 40px 50px;
  /* max-width: 1300px; */
  /* margin: auto; */
  display: flex;
  gap: 30px;
  flex-direction: column;
  /* justify-content: center; */
}
.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;

}
.product-card {
  background: white;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-card .price {
  font-weight: bold;
  margin: 10px 0 5px;
  font-size: 20px;
}
.product-card .name {
  color: #8b96a5;
  font-size: .90rem;
  height: 40px;
}
.img-placeholder{
  margin: auto;
}
.product-card button {
  width: 100%;
  border: 1px solid #e0e0e0;
  background: white;
  color: #0d6efd;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.shop img{
  width: 1500px;
  margin: 30px 10px;
  padding-left: 50px;
}
.shop button{
  padding: 10px 15px;
  color: white;
  background-color: #FF9017;
}
footer {
  display: flex;
  padding-top: 20px;
  gap: 80px;
  padding-bottom: 20px;
}
.socail {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 20px;
  padding: 10px 40px 10px 0;
}
.socail img {
  width: 150px;
}
.link {
  display: flex;
  gap: 10px;
}
.link img {
  width: 35px;
}
.info ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 900px;
  gap: 20px;
}
.info ul li {
  list-style: none;
}
.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app img {
  width: 150px;
}
.develop {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 243, 245);
  padding: 20px 10px;
}
.develop div {
  display: flex;
  align-items: center;
}
.develop select {
  /* width: 200px; */
  border: none;
  background-color: rgb(240, 243, 245);
  font-size: 18px;
}
