* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 20px 100px;
  /* width: 1400px; */
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 250, 252);
  justify-content: space-between;
}
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: white;
  align-items: center;
}
.logo img {
  width: 170px;
  height: 50px;
}
.inputFild {
  display: flex;
  width: 705px;
  height: 57px;
  border: 2px solid blue;
}
.inputFild input {
  width: 461px;
  /* height: 40px; */
  padding-left: 10px;
}
.inputFild select {
  outline: none;
  border: 1px solid blue;
  width: 205px;
  /* height: 40px; */
}
.inputFild button {
  width: 140px;
  /* height: 40px; */
  background-color: blue;
  color: white;
}
.header-icons {
  display: flex;
  width: 258px;
  justify-content: space-between;
  height: 41px;
}
.header-icons img {
  width: 47px;
  height: 40px;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  background-color: white;
}
.ul {
  display: flex;
  width: 690px;
  justify-content: space-between;
}
.ul li a {
  text-decoration: none;
  font-weight: 500px;
  color: black;
}
.ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.language {
  display: flex;
  gap: 40px;
}
.language select {
  border: none;
  width: 124px;
  height: 24px;
  font-weight: 500px;
  text-align: center;
  margin: auto;
  gap: 0;
}
.hero {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
}
.left {
  width: 230px;
  /* height: 360px; */
  line-height: 100%;
}
.left ul li {
  list-style: none;
  height: 55px;
  font-size: 20px;
}
.between {
  width: 995px;
  background-image: url("image/Banner-board-800x420\ 2.png");
  padding: 90px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
}
.between button {
  padding: 16px;
  width: 119px;
  border-radius: 6px;
  border-color: blue;
}
.right {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.card-1 {
  width: 100%;
  padding: 20px;
  background-color: #e3f0ff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 10px;
  /* align-items: center; */
}
.card-1 button {
  width: 100%;
  height: 35px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-2 {
  width: 100%;
  line-height: 30px;
  padding: 30px;
  background-color: #f38332;
}
.card-3 {
  width: 100%;
  line-height: 30px;
  padding: 30px;
  background-color: #55bdc3;
}
.digitalProduct {
  display: flex;
  gap: 30px;
}
.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 10px;
  align-items: center;
  min-width: 200px;
  padding: 20px 30px;
}
.date {
  display: flex;
  gap: 10px;
  padding-top: 30px;
}
.percent {
  background-color: #ffe3e3;
  color: red;
  border-radius: 10px;
  width: 60px;
  padding: 5px 10px;
}
#boxs {
  padding: 20px 30px;
}
.dateBox {
  background-color: #606060;
  color: white;
  border-radius: 6px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box p {
  font-size: 20px;
}
.box img {
  padding-bottom: 20px;
  width: 200px;
}
.home {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  /* width: 100%; */
}
.homeHero {
  background-image: url("image/Group\ 969.png");
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
  flex-direction: column;
  gap: 20px;
  width: 650px;
  padding: 50px 0 0 50px;
  height: 330px;
}
.homeHero span {
  width: 120px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 6px;
}
.homeProduct {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.homeBox {
  width: 324px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 160px;
  padding: 20px 20px;
  background-color: white;
}
.homeBox div {
  display: flex;
  justify-content: space-between;
}
#homeHero-2 {
  background-image: url("image/Group\ 970\ \(2\).png");
}
.formhero {
  display: flex;
  background-image: url("image/Group\ 982.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  justify-content: space-around;
  margin-top: 30px;
}
.text {
  width: 360px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 550px;
  height: 400px;
  background-color: white;
  padding: 30px;
}
form input,
#select {
  height: 40px;
  border-radius: 6px;
  padding: 12px;
  border: 1px solid rgb(226, 218, 218);
}
form #select {
  width: 100px;
  padding: 10px;
  border: 1px solid rgb(226, 218, 218);
}
textarea {
  height: 100px;
  border-radius: 6px;
  padding: 12px;
  border: 1px solid rgb(226, 218, 218);
}
.submit {
  width: 140px;
  background-color: blue;
  color: white;
}
.dressCard {
  padding-top: 20px;
}
.dressBox {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.dress {
  padding: 40px 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 307px;
}
.extraService {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.extraService img {
  width: 410px;
}
.countries {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 20px;
}
.country {
  display: flex;
  gap: 10px;
  width: 300px;
  padding-top: 20px;
}
.country img {
  width: 50px;
}
.subscribe {
  background-color: rgb(240, 243, 245);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 250px;
  /* padding-top: 20px; */
}
.innerText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 100%;
}
#email {
  width: 300px;
  height: 40px;
  border-radius: 9px;
  background-color: white;
  border: none;
  padding: 10px;
}
#submit {
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 9px;
  background-color: blue;
  color: white;
  border: none;
}
.innerText div {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer {
  display: flex;
  padding-top: 20px;
  gap: 80px;
  padding-bottom: 20px;
}
.socail {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 20px;
  padding: 10px 40px 10px 0;
}
.socail img {
  width: 150px;
}
.link {
  display: flex;
  gap: 10px;
}
.link img {
  width: 35px;
}
.info ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 900px;
  gap: 20px;
}
.info ul li {
  list-style: none;
}
.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app img {
  width: 150px;
}
.develop {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 243, 245);
  padding: 20px 10px;
}
.develop div {
  display: flex;
  align-items: center;
}
.develop select {
  /* width: 200px; */
  border: none;
  background-color: rgb(240, 243, 245);
  font-size: 18px;
}
